
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-left: 191px;
    margin-right: 191px;
}

.header__logo {
    margin-right: 512px;
}


.header__nav-menu{
    display: flex;
    align-items: center;
    width: 663px;
}

.header__nav-menu .header_nav-menu_items{
    font-weight: 600;
    font-size: 16px;
    height: 19px;
    color: #B8BECD;
    text-decoration: none;
    transition: all 0.3s linear;
    margin-right: 35px;
}

.header_nav-menu_items:hover{
    color: #202336;
}